<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overordnet arbeidsprosesser</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overordnet arbeidsprosesser</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b45952c935d6421a832e63b5163fe559.png" alt="Overordnet arbeidsprosesser" usemap="#id-b45952c935d6421a832e63b5163fe559map"/>
			   <map name="id-b45952c935d6421a832e63b5163fe559map">
				  				<area shape="rect" coords="1210,226,1364,281" href="../elements/id-74b6c8451c2d44b8ac7a7e007154dd42.html"  target="element">
				  				<area shape="rect" coords="1210,58,1364,113" href="../elements/id-7269e2309fa14732a39d7e0f180f33bc.html"  target="element">
				  				<area shape="rect" coords="1210,142,1364,197" href="../elements/id-e4f2fc3d00e3449aa59149d5c4ca5bf1.html"  target="element">

				  		<area shape="rect" coords="1174,10,1391,395" href="../elements/id-8002aaeda7fc49c49de3ba69cb2cb3c7.html"  target="element">
				  				<area shape="rect" coords="697,142,851,197" href="../elements/id-309a8b31616941db8df5d5dcda9162c8.html"  target="element">
				  				<area shape="rect" coords="884,58,1038,113" href="../elements/id-cf04d580d2a0420196352415dd6fd2a2.html"  target="element">
				  				<area shape="rect" coords="697,58,851,113" href="../elements/id-c8bfa968a9f548b296a07d0d08c19201.html"  target="element">
				  				<area shape="rect" coords="697,226,851,281" href="../elements/id-96478e66d05d49f5adb93da73853152e.html"  target="element">
				  				<area shape="rect" coords="884,226,1038,281" href="../elements/id-91ab97bba8a940ad80c82e6a41cdb597.html"  target="element">
				  				<area shape="rect" coords="884,310,1038,365" href="../elements/id-0f9091cf05fc413a88c5eca83ae83a9b.html"  target="element">
				  				<area shape="rect" coords="884,142,1038,197" href="../elements/id-3ec5bef4daf14194b6b083d476c4c33f.html"  target="element">
				  				<area shape="rect" coords="697,310,851,365" href="../elements/id-f02edd2886704566840df1b74c0528fd.html"  target="element">

				  		<area shape="rect" coords="658,10,1079,395" href="../elements/id-a2437d29aaab4734945f8a87387099d8.html"  target="element">
				  				<area shape="rect" coords="238,226,392,281" href="../elements/id-1eb52612e77e4bb28164ee7eb89f636c.html"  target="element">
				  				<area shape="rect" coords="238,142,392,197" href="../elements/id-3bcc07866dfc4b89a25fcbdbb69992aa.html"  target="element">
				  				<area shape="rect" coords="238,58,392,113" href="../elements/id-8c9a8164d1534f88887772082cefe527.html"  target="element">
				  				<area shape="rect" coords="46,310,200,365" href="../elements/id-c373ff2ec6dc4968ae6d3826c310fa40.html"  target="element">
				  				<area shape="rect" coords="46,226,200,281" href="../elements/id-a1eb0e41cfa1448fad6f02cbf5e7b313.html"  target="element">
				  				<area shape="rect" coords="46,142,200,197" href="../elements/id-d79c65ca90414126bf5b3b8dfbef97cc.html"  target="element">
				  				<area shape="rect" coords="46,58,200,113" href="../elements/id-63d9a76825594d4282b1cc63908a13b9.html"  target="element">

				  		<area shape="rect" coords="10,10,419,395" href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html"  target="element">
				  		<area shape="rect" coords="490,250,610,305" href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html"  target="element">
				  		<area shape="rect" coords="490,106,610,161" href="../elements/id-38764be7c6094b8e8f75afce03978ffe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-38764be7c6094b8e8f75afce03978ffe.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/id-38764be7c6094b8e8f75afce03978ffe.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element"> Produsent </a> </td>
											    <td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
											    <td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-63d9a76825594d4282b1cc63908a13b9.html" target="element"> Avtaleforvaltning </a> </td>
													    <td> <a href="../elements/id-63d9a76825594d4282b1cc63908a13b9.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d79c65ca90414126bf5b3b8dfbef97cc.html" target="element"> Risikovurdering </a> </td>
													    <td> <a href="../elements/id-d79c65ca90414126bf5b3b8dfbef97cc.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1eb0e41cfa1448fad6f02cbf5e7b313.html" target="element"> Informasjon til innbygger og helsepersonell </a> </td>
													    <td> <a href="../elements/id-a1eb0e41cfa1448fad6f02cbf5e7b313.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c373ff2ec6dc4968ae6d3826c310fa40.html" target="element"> Oppl&#230;ring av helsepersonell </a> </td>
													    <td> <a href="../elements/id-c373ff2ec6dc4968ae6d3826c310fa40.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8c9a8164d1534f88887772082cefe527.html" target="element"> Forh&#229;ndsgodkjenning av dokumenttyper  </a> </td>
													    <td> <a href="../elements/id-8c9a8164d1534f88887772082cefe527.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3bcc07866dfc4b89a25fcbdbb69992aa.html" target="element"> Teknisk tilrettelegging  </a> </td>
													    <td> <a href="../elements/id-3bcc07866dfc4b89a25fcbdbb69992aa.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1eb52612e77e4bb28164ee7eb89f636c.html" target="element"> Verdikjedetest </a> </td>
													    <td> <a href="../elements/id-1eb52612e77e4bb28164ee7eb89f636c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
											    <td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f02edd2886704566840df1b74c0528fd.html" target="element"> Ivaretakelse av personvernrettigheter i dialog med innbygger </a> </td>
													    <td> <a href="../elements/id-f02edd2886704566840df1b74c0528fd.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3ec5bef4daf14194b6b083d476c4c33f.html" target="element"> Tilgangsstyring (produksjon av innhold) </a> </td>
													    <td> <a href="../elements/id-3ec5bef4daf14194b6b083d476c4c33f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f9091cf05fc413a88c5eca83ae83a9b.html" target="element"> Tilgangskontroll for tilgang til dokumenter </a> </td>
													    <td> <a href="../elements/id-0f9091cf05fc413a88c5eca83ae83a9b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-91ab97bba8a940ad80c82e6a41cdb597.html" target="element"> Drift, feilh&#229;ndtering og varslinger </a> </td>
													    <td> <a href="../elements/id-91ab97bba8a940ad80c82e6a41cdb597.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-96478e66d05d49f5adb93da73853152e.html" target="element"> Endringsh&#229;ndtering, videreutvikling og brukerst&#248;tte </a> </td>
													    <td> <a href="../elements/id-96478e66d05d49f5adb93da73853152e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c8bfa968a9f548b296a07d0d08c19201.html" target="element"> Produksjon av innhold </a> </td>
													    <td> <a href="../elements/id-c8bfa968a9f548b296a07d0d08c19201.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf04d580d2a0420196352415dd6fd2a2.html" target="element"> S&#248;ke og vise journaldokumenter </a> </td>
													    <td> <a href="../elements/id-cf04d580d2a0420196352415dd6fd2a2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-309a8b31616941db8df5d5dcda9162c8.html" target="element"> Vurdere nekting av innsyn for innbygger </a> </td>
													    <td> <a href="../elements/id-309a8b31616941db8df5d5dcda9162c8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8002aaeda7fc49c49de3ba69cb2cb3c7.html" target="element"> Oppf&#248;lging og etterkontroll </a> </td>
											    <td> <a href="../elements/id-8002aaeda7fc49c49de3ba69cb2cb3c7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e4f2fc3d00e3449aa59149d5c4ca5bf1.html" target="element"> Loggkontroll </a> </td>
													    <td> <a href="../elements/id-e4f2fc3d00e3449aa59149d5c4ca5bf1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7269e2309fa14732a39d7e0f180f33bc.html" target="element"> Logging </a> </td>
													    <td> <a href="../elements/id-7269e2309fa14732a39d7e0f180f33bc.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74b6c8451c2d44b8ac7a7e007154dd42.html" target="element"> Loggoppf&#248;lging </a> </td>
													    <td> <a href="../elements/id-74b6c8451c2d44b8ac7a7e007154dd42.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-cb804a283c784e07a421666a94f56a18.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb804a283c784e07a421666a94f56a18.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38764be7c6094b8e8f75afce03978ffe.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eaad0cbd06704a438d869e5fd87a4be6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eaad0cbd06704a438d869e5fd87a4be6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38764be7c6094b8e8f75afce03978ffe.html" target="element"> Konsument </a> </td>
																		<td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-366fad5236394b35b3855adb3f3c8c23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-366fad5236394b35b3855adb3f3c8c23.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element"> Produsent </a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5241a9f5d097453db13c1de6c84b7d05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5241a9f5d097453db13c1de6c84b7d05.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element"> Produsent </a> </td>
																		<td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b75814835804753b36cee1b73803db7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b75814835804753b36cee1b73803db7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
																		<td> <a href="../elements/id-63d9a76825594d4282b1cc63908a13b9.html" target="element"> Avtaleforvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3dfc5282b9944cda4233b395a77d0b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3dfc5282b9944cda4233b395a77d0b8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
																		<td> <a href="../elements/id-d79c65ca90414126bf5b3b8dfbef97cc.html" target="element"> Risikovurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bfe9446be5aa40eea634d477ed5f59cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfe9446be5aa40eea634d477ed5f59cc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
																		<td> <a href="../elements/id-a1eb0e41cfa1448fad6f02cbf5e7b313.html" target="element"> Informasjon til innbygger og helsepersonell </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5080043b057c43bc9d440d2fbb0ba24e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5080043b057c43bc9d440d2fbb0ba24e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
																		<td> <a href="../elements/id-c373ff2ec6dc4968ae6d3826c310fa40.html" target="element"> Oppl&#230;ring av helsepersonell </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef0065808f2343e39573d2f2d9bbff27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef0065808f2343e39573d2f2d9bbff27.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
																		<td> <a href="../elements/id-8c9a8164d1534f88887772082cefe527.html" target="element"> Forh&#229;ndsgodkjenning av dokumenttyper  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7e690bcac7349daafc1014b32d901b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7e690bcac7349daafc1014b32d901b2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
																		<td> <a href="../elements/id-3bcc07866dfc4b89a25fcbdbb69992aa.html" target="element"> Teknisk tilrettelegging  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3882bdaae0949858a86a30deba3e41e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3882bdaae0949858a86a30deba3e41e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70e1c2f4273c42bb9562c29c7848d7ac.html" target="element"> Forberedende prosesser </a> </td>
																		<td> <a href="../elements/id-1eb52612e77e4bb28164ee7eb89f636c.html" target="element"> Verdikjedetest </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-67553794fdcb4fc88bad6deb631b4f6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67553794fdcb4fc88bad6deb631b4f6d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																		<td> <a href="../elements/id-f02edd2886704566840df1b74c0528fd.html" target="element"> Ivaretakelse av personvernrettigheter i dialog med innbygger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9535d3e233ad4bef807ddccb5aebebfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9535d3e233ad4bef807ddccb5aebebfe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																		<td> <a href="../elements/id-3ec5bef4daf14194b6b083d476c4c33f.html" target="element"> Tilgangsstyring (produksjon av innhold) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e40c20996d1f4f508444a3f61004a680.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e40c20996d1f4f508444a3f61004a680.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																		<td> <a href="../elements/id-0f9091cf05fc413a88c5eca83ae83a9b.html" target="element"> Tilgangskontroll for tilgang til dokumenter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0ef19275073e46a3aacbc8aaed2be297.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ef19275073e46a3aacbc8aaed2be297.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																		<td> <a href="../elements/id-91ab97bba8a940ad80c82e6a41cdb597.html" target="element"> Drift, feilh&#229;ndtering og varslinger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-141893ee22ca45cca6ded1a27dc34248.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-141893ee22ca45cca6ded1a27dc34248.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																		<td> <a href="../elements/id-96478e66d05d49f5adb93da73853152e.html" target="element"> Endringsh&#229;ndtering, videreutvikling og brukerst&#248;tte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e61e14b77b3447fb33c0f593d3d3e15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e61e14b77b3447fb33c0f593d3d3e15.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																		<td> <a href="../elements/id-c8bfa968a9f548b296a07d0d08c19201.html" target="element"> Produksjon av innhold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf340e5d107545729660d953bc6d2294.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf340e5d107545729660d953bc6d2294.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																		<td> <a href="../elements/id-cf04d580d2a0420196352415dd6fd2a2.html" target="element"> S&#248;ke og vise journaldokumenter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-93c74f66b8144474a7315a9d65bd628b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93c74f66b8144474a7315a9d65bd628b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																		<td> <a href="../elements/id-8002aaeda7fc49c49de3ba69cb2cb3c7.html" target="element"> Oppf&#248;lging og etterkontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a44e6c053fc41a0881a242d77ebad36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a44e6c053fc41a0881a242d77ebad36.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2437d29aaab4734945f8a87387099d8.html" target="element"> Tilgjengeliggj&#248;re og vise journaldokumenter </a> </td>
																		<td> <a href="../elements/id-309a8b31616941db8df5d5dcda9162c8.html" target="element"> Vurdere nekting av innsyn for innbygger </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-64e94081d8d54fcc85dd82f690e569d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64e94081d8d54fcc85dd82f690e569d5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8002aaeda7fc49c49de3ba69cb2cb3c7.html" target="element"> Oppf&#248;lging og etterkontroll </a> </td>
																		<td> <a href="../elements/id-e4f2fc3d00e3449aa59149d5c4ca5bf1.html" target="element"> Loggkontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e0cdf44509c41ba9297b2dee4c8f6b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e0cdf44509c41ba9297b2dee4c8f6b8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8002aaeda7fc49c49de3ba69cb2cb3c7.html" target="element"> Oppf&#248;lging og etterkontroll </a> </td>
																		<td> <a href="../elements/id-7269e2309fa14732a39d7e0f180f33bc.html" target="element"> Logging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5284b6e794a6421a9e068d8b2a5f1743.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5284b6e794a6421a9e068d8b2a5f1743.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8002aaeda7fc49c49de3ba69cb2cb3c7.html" target="element"> Oppf&#248;lging og etterkontroll </a> </td>
																		<td> <a href="../elements/id-74b6c8451c2d44b8ac7a7e007154dd42.html" target="element"> Loggoppf&#248;lging </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>